body {
    background-color: lightblue;
    font-family: Helvetica;
    color:black;
}

#main {
    width: 60%;
    border: 3px black solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#header {
    margin-top: 0;
    border: 5px solid black;
    padding: 5px;
    height: 250px;
    background-image: url(highschoolmusical.jpg);
    background-color: deepskyblue;
    background-size: 850px;
    font-family: Impact, fantasy;
    color:black;
    font-size: 25px;
    text-align: center;
}

#header img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 90%;
    display: inline-block;
}

button {
    display: block;
    margin-top: 20px;

}

.submit-button {
    border-radius: 50px;
    border: 3px solid black;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: #BEF5FF;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1pxx;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.submit-button:hover {
    background-color: deepskyblue;
}

#header img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}

#answer2 {
    font-size:350%;
    font-weight:bold;
    text-align:center;
}

#result_pic img{
    clear:both;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    width:90%;
}

* {
    box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}