body {
    background-color: lightblue;
    font-family: Helvetica;
}

#main {
    width: 60%;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#header {
    margin-top: 0;
    border: 2px solid black;
    padding: 5px;
    height: 250px;
    background-image: url(highschoolmusical.jpg);
    background-color: deepskyblue;
    background-size: 850px;
    
}

#header img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 90%;
    display: inline-block;
}

button {
    display: block;
    margin-top: 20px;

}

p {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}

#answer2 {
    font-size:350%;
    font-weight:bold;
    text-align:center;
}

#result_pic img{
    clear:both;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    width:90%;
}